<div class="no-questions">
  <img src="/images/noquestions.svg" alt="Sem Perguntas">
  <p>Nenhuma pergunta por aqui...</p>
  <p>Primeira pergunta e envie o <br> código dessa sala para outras pessoas!</p>
</div>

